@model TeamAdmin.Core.Post
<div class="container">
    <h1>@Model.Title</h1>
    @if (Model != null && Model.Media != null && Model.Media.Count() > 0)
    {
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                @{
                    for (int i = 0; i < Model.Media.Count(); i++)
                    {
                        <li data-target="#myCarousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                    }
                }
            </ol>
            <div class="carousel-inner" role="listbox">
                @{
                    int j = 0;
                    foreach (var media in Model.Media)
                    {
                        <div class='item @(j == 0 ? "active" : "")'>
                            <img style="max-height:400px;" src="@media.Url?w=600&mode=max" srcset="@media.Url?w=1200&mode=max 1200w, @media.Url?w=800&mode=max 800w" alt="@Model.Title" class="img-responsive center-block" />
                        </div>
                        j++;
                    }
                }
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <hr />
    }

    <div>@Html.Raw(Model.Body)</div><br /><br />
    <div><a href="/news" class="right">Go to news list</a></div>
</div>