@model IEnumerable<TeamAdmin.Core.Post>
<div class="row">
    <h2 style="border-bottom:solid 1px rgba(255,255,255,0.3);">Latest News</h2>
    @if (Model != null && Model.Count() > 0)
    {
        @foreach (var news in Model)
        {
            <div class="col-sm-6 col-md-3">
                <a href="/news/@news.PostId/@news.Title" class="thumbnail">
                    <img class="media-object" src="@news.Media.FirstOrDefault().Url?w=200&h=117&mode=crop" srcset="@news.Media.FirstOrDefault().Url?w=200&h=117&mode=crop 200w, @news.Media.FirstOrDefault().Url?w=360&h=210&mode=crop 360w" alt="@news.Title">
                    <h4 class="caption media-heading">@news.Title</h4>
                </a>
            </div>
        }
    }
</div>