@model TeamAdmin.Web.Models.HomePageModel
@using System.Globalization
@using TeamAdmin.Lib.Util

<section>
    <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#bg-fade-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bg-fade-carousel" data-slide-to="1"></li>
            <li data-target="#bg-fade-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="slider" style="background-size: cover;background-position: center;background-image: url('/images/hero@2x.jpg');"></div>
                <div class="container carousel-overlay text-center ">                    
                    <h1>
                        Welcome to Mapola FC Academy
                    </h1>
                </div>
            </div>

            @if (Model != null && Model.News != null && Model.News.Count() >= 3)
            {
                @foreach (var news in Model.News.Take(3))
                {
                    <div class="item">
                        <div class="slider" style="background-size: cover;background-position: center;background-image: url('@news.Media.FirstOrDefault().Url?w=400&mode=max');"></div>
                        <div class="container carousel-overlay text-center ">
                            <h2>@news.Title</h2>
                            <a href="/news/@news.PostId/@news.Title.MakeSEOFriendlyUrl()" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
    <!--end bg-carousel-->
</section>
<section>
    @*--------------------------------------------------------*@
    <article class="container">
        <div class="col-sm-8">
            <header>
                <h1 style="font-size:large;">Mapola FC Academy</h1>
            </header>
            <p>Mapola FC is a not-for-profit organization in Brampton ON (Canada), aiming to provide the best soccer development platform for passionate, committed and ambitious players.</p>
            <p>We have partnered with Scottish giants Rangers FC to provide an innovative and dynamic training program targeting key areas of soccer development such technical precision, speed, agility, strength, power, flexibility, balance, game intelligence and mental toughness.</p>
            <p>Our core values include personal improvement, enjoyment of the game, the pursuit of excellence, honesty and integrity.</p>
        </div>
        <div class="col-sm-4">
            <h4>Sanctioned By</h4>
            <img class="osa-logo" src="~/images/osa-logo.svg" alt="Ontario Soccer Association">
            <img class="canada-logo" src="~/images/canada.png" alt="Canada">
            <img class="ltpd-logo" src="~/images/ltpd.png" alt="LTPD">

        </div>
    </article>
</section>
<section class="blog-section">
    <div class="container">
        <h2>Latest News</h2>

        @if (Model != null && Model.News != null && Model.News.Count() > 0)
        {
            @foreach (var news in Model.News.Take(6))
            {
                <div class="blog-post effect-lily" style="padding: 50px 10px; background:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url('@news.Media.FirstOrDefault().Url?w=400&h=234&mode=crop');  background-size: cover; background-position: center;">
                    <a href="/news/@news.PostId/@news.Title.MakeSEOFriendlyUrl()" style="font-weight:500; color: white;">
                        <div class="blog-details">
                            <div class="blog-caption text-center">
                                <span style="color:white; text-shadow: 1px 1px 0px #515151;">@news.DatePublished.ToString("MMM dd yyyy")</span>
                                <h2 style="color:white; text-shadow: 1px 1px 0px #515151;">@news.Title</h2>
                                <p style="color:white; letter-spacing: 2px; font-size: 12px;text-shadow: 1px 1px 0px #515151;text-align:center;font-weight:800;">READ MORE</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>

</section>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                "interval": 3000,
                "pause":false
            });
        });
    </script>
}
@section headerlinks{
    <meta name="description" content="Mapola FC Academy is a not-for-profit organization in Brampton ON (Canada), aiming to provide the best soccer development platform for passionate, committed and ambitious players.">
}