@model TeamAdmin.Web.Models.HomePageModel
@using System.Globalization
@using TeamAdmin.Lib.Util

<section class="hero">
    <div class="container">        
        <div>
            <h1>Welcome To Mapola FC Academy</h1>
        </div>
    </div>
</section>
<div class="container">
    <div class="col-sm-8">
        <h2>Mapola FC Academy's Mission</h2>
        <p>
            Our primary goal is to provide the best soccer development platform for committed, and ambitious players who are passionate to develop as a person and as a player. Our core values include personal improvement in a fast paced environment, enjoyment of the game, and the pursuit of excellence, honesty, and integrity.
        </p>
    </div>
    <div class="col-sm-4">
        <h4>Sanctioned By:</h4>
        <img class="osa-logo" src="~/images/osa-logo.svg" alt="Ontario Soccer Association">
        <img class="canada-logo" src="~/images/canada.png" alt="Canada">
        <img class="ltpd-logo" src="~/images/ltpd.png" alt="LTPD">

    </div>
</div>
<section class="blog-section">
    <div class="row">
        <div class="container">
            <div class="col-sm-12">
                <h3>Latest News</h3>
            </div>
        </div>

        @if (Model != null && Model.News != null && Model.News.Count() > 0)
        {
            @foreach (var news in Model.News.Take(6))
            {
                <div class="blog-post" style="padding: 50px 10px; background:linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url('@news.Media.FirstOrDefault().Url?w=400&h=234&mode=crop');  background-size: cover; background-position: center;">
                    <a href="/news/@news.PostId/@news.Title.MakeSEOFriendlyUrl()" style="font-weight:500; color: white;">
                        <div class="blog-details">                            
                            <div class="blog-caption text-center">
                                <span style="color:white; text-shadow: 1px 1px 0px #515151;">@news.DatePublished.ToString("MMM dd yyyy")</span>
                                <h2 style="color:white; text-shadow: 1px 1px 0px #515151;">@news.Title</h2>
                                <p style="color:white; letter-spacing: 2px; font-size: 12px;text-shadow: 1px 1px 0px #515151;">READ MORE</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>

</section>

    @*<div class="row">
        <h2 style="border-bottom:solid 1px rgba(255,255,255,0.3);">Upcoming Events</h2>
        @if (Model != null && Model.Events != null && Model.Events.Count() > 0)
        {
            @foreach (var evnt in Model.Events.Take(6))
            {
                <div class="col-sm-6 col-md-4">
                    <div class="panel panel-default">
                        <div class="media">
                            <div class="media-left">
                                <div class="media-object calendar-item">
                                    <div class="calendar-month">@(CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(evnt.Key.Month).ToUpper())</div>
                                    <div class="calendar-date">@evnt.Key.Day.ToString("00")</div>
                                    <div class="calendar-day">@(CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedDayName(evnt.Key.DayOfWeek).ToUpper())</div>
                                </div>
                            </div>
                            <div class="media-body list-group">
                                @foreach (var item in evnt)
                                {
                                    <div class="media-heading list-group-item" style="background-color:white;">
                                        <span style="color:darkred;font-weight:700; text-transform:capitalize;">@item.EventType:</span>
                                        @foreach (var t in item.Teams)
                                        {
                                            <span style="margin-right:5px;font-weight:700;">@(string.IsNullOrWhiteSpace(t.DisplayName) ? t.Name : t.DisplayName) @(item.EventType == TeamAdmin.Core.EventType.GAME ? "vs " + @item.Title : "")</span>
                                        }
                                        <div style="color:darkred;font-weight:700;"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> @item.StartDate.ToString("hh:mmtt") - @item.EndDate.ToString("hh:mmtt")</div>
                                        <div>@item.Address</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>*@
