@model TeamAdmin.Web.Models.HomePageModel
@using System.Globalization

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        @if (Model != null && Model.News != null && Model.News.Count() > 0)
            {
                int i = 0;
            @foreach (var news in Model.News.Take(3))
                {
                <div class='item @(i == 0 ? "active" : "")'>
                    <a href="/news/@news.PostId/@news.Title">
                        <img src="@news.Media.FirstOrDefault().Url?w=230&h=70&mode=crop" srcset="@news.Media.FirstOrDefault().Url?w=1200&h=400&mode=crop 1200w, @news.Media.FirstOrDefault().Url?w=800&h=266&mode=crop 800w, @news.Media.FirstOrDefault().Url?w=600&h=200&mode=crop 600w, @news.Media.FirstOrDefault().Url?w=400&h=133&mode=crop 400w" alt="@news.Title" class="img-responsive" />
                        <div class="carousel-caption" role="option"><p>@news.Title</p></div>
                    </a>
                </div>
                i++;
            }
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<hr />
<div class="row">
    <h2>Latest News</h2>
    @if (Model != null && Model.News != null && Model.News.Count() > 0)
    {
        @foreach (var news in Model.News.Take(6))
        {
            <div class="col-sm-6 col-md-3">
                <a href="/news/@news.PostId/@news.Title" class="thumbnail">
                    <img class="media-object" src="@news.Media.FirstOrDefault().Url?w=200&h=117&mode=crop" srcset="@news.Media.FirstOrDefault().Url?w=200&h=117&mode=crop 200w, @news.Media.FirstOrDefault().Url?w=360&h=210&mode=crop 360w" alt="@news.Title">
                    <h4 class="caption media-heading">@news.Title</h4>
                </a>
            </div>
        }
    }
</div>
<hr />
<div class="row">
    <h2>Upcoming Games</h2>
    @if (Model != null && Model.Games != null && Model.Games.Count() > 0)
    {
        @foreach (var evnt in Model.Games.Take(6))
        {
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="media">
                        <div class="media-left">
                            <div class="media-object calendar-item">
                                <div class="calendar-month">@(CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(evnt.Key.Month).ToUpper())</div>
                                <div class="calendar-date">@evnt.Key.Day.ToString("00")</div>
                                <div class="calendar-day">@(CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedDayName(evnt.Key.DayOfWeek).ToUpper())</div>
                            </div>
                        </div>
                        <div class="media-body">
                            @foreach (var item in evnt)
                            {
                                <div class="media-heading">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> @item.StartDate.ToString("hh:mmtt") - @item.EndDate.ToString("hh:mmtt"):
                                    <div>@item.Teams.FirstOrDefault().Name vs @item.Title</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div class="row">
    <h2>Upcoming Training Sessions</h2>
    @if (Model != null && Model.TrainingSessions != null && Model.TrainingSessions.Count() > 0)
    {
        @foreach (var evnt in Model.TrainingSessions.Take(6))
        {
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="media">
                        <div class="media-left">
                            <div class="media-object calendar-item">
                                <div class="calendar-month">@(CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedMonthName(evnt.Key.Month).ToUpper())</div>
                                <div class="calendar-date">@evnt.Key.Day.ToString("00")</div>
                                <div class="calendar-day">@(CultureInfo.CurrentCulture.DateTimeFormat.GetAbbreviatedDayName(evnt.Key.DayOfWeek).ToUpper())</div>
                            </div>
                        </div>
                        <div class="media-body">
                            @foreach (var item in evnt)
                            {
                                <div class="media-heading">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> @item.StartDate.ToString("hh:mmtt") - @item.EndDate.ToString("hh:mmtt"):
                                    <div>@item.Teams.FirstOrDefault().Name vs @item.Title</div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>