@model TeamAdmin.Web.Models.HomePageModel
@using System.Globalization
@using TeamAdmin.Lib.Util
@inject TeamAdmin.Core.Caching.ICacheService @cachingService

@{
    var activeNotifications = cachingService.GetActiveNotifications();
    if (activeNotifications != null && activeNotifications.Count() > 0)
    {
        @Html.Raw("<div class=\"ticker-wrap\"><div class=\"ticker\">");
        @foreach (var notification in activeNotifications)
                {
            <div class="ticker__item">@notification.Message</div>
        }
        @Html.Raw("</div></div>");
    }
}
<section class="container">
    <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#bg-fade-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bg-fade-carousel" data-slide-to="1"></li>
            <li data-target="#bg-fade-carousel" data-slide-to="2"></li>
            <li data-target="#bg-fade-carousel" data-slide-to="3"></li>
            <li data-target="#bg-fade-carousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @if (Model != null && Model.News != null && Model.News.Count() >= 3)
            {
                int i = 0;
                @foreach (var news in Model.News.Take(5))
                {
                    <div class="item @(i==0?"active": "")">
                        <div class="slider" style="background-size: cover;background-position: center;background-image: url('@(news.Media == null || news.Media.Count() == 0 ? @Settings.ImageUrlRoot + "/no_image.jpeg" : @news.Media.FirstOrDefault().Url)?w=800&mode=max');"></div>
                        <div class="container carousel-overlay text-center ">
                            <h2>@news.Title</h2>
                            <a href="/news/@news.PostId/@news.Title.MakeSEOFriendlyUrl()" class="btn btn-default">Read More</a>
                        </div>
                    </div>
                    i++;
                }
            }

        </div>
    </div>
    <!--end bg-carousel-->
</section>

<section class="container">
    <article class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <header>
            <h1 style="font-size:large;">Welcome to Mapola FC Academy</h1>
        </header>
        <p>Mapola FC is a not-for-profit organization in Brampton ON (Canada), aiming to provide the best soccer development platform for passionate, committed and ambitious players.
        @*<p>We have partnered with Scottish giants Rangers FC to provide an innovative and dynamic training program targeting key areas of soccer development such technical precision, speed, agility, strength, power, flexibility, balance, game intelligence and mental toughness.</p>
            <p>Our core values include personal improvement, enjoyment of the game, the pursuit of excellence, honesty and integrity.</p>*@
            Mapola FC offers a program of opportunity like no other.</p>
            <ul>
                <li>Affordable membership costs</li>
                <li>Improve leadership, sportsmanship, perseverance, fitness and social skills</li>
                <li>Train with intensity to increase aerobic capacity & cardiovascular health, lower body fat, improve muscle tone, build strength, flexibility and endurance</li>
                <li>Focus on player development, promote teamwork, increase confidence, self esteem</li>
                <li>Play with comfort and confidence</li>
                <li>Caring, dedicated, committed and passionate staff always there to help</li>                
            </ul>
        </article>
        <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h4>Sanctioned By</h4>

            <figure class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <a href="http://www.ontariosoccer.net/" target="_blank" rel="nofollow">
                    <img src="~/images/osa-logo.svg" alt="Ontario Soccer">
                </a>
            </figure>
            <figure class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <a href="http://www.canadasoccer.com/" target="_blank" rel="nofollow"><img class="img-responsive" src="~/images/canada.png" alt="Canada Soccer"></a>
            </figure>
            <figure class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <a href="http://www.ontariosoccer.net/oasl" target="_blank" rel="nofollow">
                    <img src="~/images/oasl.png" alt="Ontario Academy Soccer League">
                </a>
            </figure>
            <figure class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                <a href="" target="_blank" rel="nofollow">
                    <img class="img-responsive" src="~/images/ltpd.png" alt="Long Term Player Development">
                </a>
            </figure>
        </aside>
</section>

<section class="container">
    <header class="container"><h1 style="font-size:large;">What will your child get</h1></header>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <ul><li>Same opportunity to the provincial programs as all other clubs, including OPDL clubs</li>
    <li>International exposure, showcase tournament in Europe or USA</li>
<li>Develop rapidly in a fast pace environment</li>
<li>Constant feedback verbal or written</li>

</ul></div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <ul>
            <li>Academy graduate are set up to receive university scholarship and or pro club tryouts</li>
            <li>Repaid growth in skills, balance, coordination, speed, agility</li>
            <li>Increase skills in concentration, persistence and self discipline</li>
            <li>Weekly call ups opportunity to play with older age groups</li>
        </ul>
    </div>
</section>

<section class="container">
    <header class="container"><h1 style="font-size:large;">How are we different</h1></header>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <ul>
            <li>
                All of our staff hold higher licenses such as Canadian C license, Provincial B, National
                B, UEFA -B, Coerver Youth Diploma, Ontario Soccer Technical Director Diploma,
                and USSF, D, B and are all paid with no parents volunteer coaches
            </li>            
            <li>All of our coaches are paid, we do not entertain parents volunteer coaches</li>
            <li> We do not reject any player, rather we accept and develop everyone</li>
                       
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <ul>
            <li>We use with the same state of art equipment as the pros</li> 
            <li>The wellbeing and development of our athletes is our #1 primary priority, we
                know all of our players by names</li>
            <li>We have multicultural player’s and staff with a small club environment where we know our players as
                individuals</li>
            <li>Coaching education is part of our fundamental values, we educate our coaches on a monthly basis</li>
        </ul>
    </div>
</section>

<section class="container">
    <header class="container"><h1 style="font-size:large;">What we provide</h1></header>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <ul>
            <li>Position specific training for goalkeepers, defenders, midfielders and attackers</li>
            <li>Skills training Summer camp by top European coaches</li>
            <li>3 training sessions and 1 game per week all year round</li>
            <li>Physio at training, stationary bikes at training, resistance bands, reaction testing with our Fit light equipment light, and steps counter machine</li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <ul>
            <li>UK soccer program Box Soccer Training every week</li>
            <li>Training with professional European clubs coaches and Division One university coaches every summer</li>
            <li>Access to yoga, technical skills training, strength and conditioning, nutrition session, speed testing, shooting power testing and agility testing </li>
        </ul>
    </div>
</section>


    <section class="container">
        <header class="container"><h1 style="font-size:large;">Testimonials</h1></header>
        <blockquote class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
            <cite>Christine Lynch</cite>
            Mapola FC has given my son the environment in which to grow as an athlete and receive opportunities from TFC and FC Barcelona in Spain.
        </blockquote>
        <blockquote class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <cite>Toronto FC</cite>
            The players selected during the trial process demonstrated exceptional soccer skills and a commitment to excellence, and we would like to express our gratitude for the cooperation from your club..
        </blockquote>
        <blockquote class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <cite>Candace Thomas</cite>
            My son started training with Mapola at age 6 with no confidence and very little skill, he is now a star player with a wealth of knowledge and discipline learned over the last two years.
        </blockquote>

        <blockquote class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
            <cite>Mark Nonis</cite>
            The coach made sure every single player introduced themselves and welcomed my son to the team.  That won my heart, let alone the drills during the practice were something I've never seen before.
        </blockquote>
        <p style="margin-left:15px;"><a href="/testimonials">Read full testimonials</a></p>
    </section>
    <section class="container">
        <article class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
            <header>
                <h3>Latest News</h3>
            </header>

            @if (Model != null && Model.News != null && Model.News.Count() > 0)
            {
                <div><a href="/news">More News</a></div>
                @foreach (var news in Model.News.Take(6))
                {
                    <div class="blog-post effect-lily col-xs-12 col-sm-6 col-md-4 col-lg-4" style="background:url('@(news.Media == null || news.Media.Count() == 0 ? @Settings.ImageUrlRoot + "/no_image.jpeg" : @news.Media.FirstOrDefault().Url)?w=400&h=234&mode=crop');  background-size: cover; background-position: center;">
                        <a href="/news/@news.PostId/@news.Title.MakeSEOFriendlyUrl()">
                            <div class="blog-details">
                                <div class="blog-caption text-center">
                                    <span>@news.DatePublished.ToString("MMM dd yyyy")</span>
                                    <h2>@news.Title</h2>
                                    <p>READ MORE</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </article>

        <aside class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
            <header>
                <h3>Fixtures</h3><a href="/events">More Events</a>
            </header>
            @if (Model != null && Model.Events != null && Model.Events.Count() > 0)
            {

                <div>
                    @foreach (var group in Model.Events.Take(4))
                {
                        @foreach (var ev in group)
                    {
                            <a href="/events/@ev.EventId">
                                <div class="fixture">
                                    <div class="fixture-full-date"> @ev.StartDate.ToString("ddd dd MMM")  <span class="glyphicon glyphicon-time"></span>  @ev.StartDate.ToString("h:mmtt") - @ev.EndDate.ToString("h:mmtt")</div>
                                    <div class="fixture-title">
                                        <figure style="display:inline-block;vertical-align: top; margin-right:5px;min-width:45%;float:left;text-align:right;padding-left:5px;"><figcaption style="float: left;text-align:right;max-width:80px;min-width:40%;">@(ev.Away.HasValue && ev.Away.Value ? ev.Opponent.Name : ev.Teams.FirstOrDefault().DisplayName)</figcaption><img src="@(ev.Away.HasValue && ev.Away.Value ? (string.IsNullOrWhiteSpace(ev.Opponent.LogoUrl) ? Settings.ImageUrlRoot + "/no_image.jpeg" : ev.Opponent.LogoUrl) : Settings.ImageUrlRoot + "/mapola-logo.png")?w=40&h=40"></figure>
                                        <span style="margin:auto;max-width:10%;">vs</span>
                                        <figure style="display:inline-block;margin-left:5px;min-width:45%;float:right;text-align:left;padding-right:5px;"><figcaption style="float:right;text-align:left;max-width:80px;min-width:40%;">@(ev.Away.HasValue && ev.Away.Value ? ev.Teams.FirstOrDefault().DisplayName : ev.Opponent.Name)</figcaption><img src="@(ev.Away.HasValue && ev.Away.Value ? @Settings.ImageUrlRoot + "/mapola-logo.png" : (string.IsNullOrWhiteSpace(ev.Opponent.LogoUrl) ? @Settings.ImageUrlRoot + "/no_image.jpeg" : ev.Opponent.LogoUrl))?w=40&h=40"></figure>
                                    </div>
                                    <div class="fixture-address">@ev.Address</div>
                                </div>
                            </a>
                        }
                    }
                </div>
            }

        </aside>
    </section>

    <section class="container">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <header><h3>Mapola FC TV</h3></header>
            <p>Check out our latest games, training sessions and other videos.</p>
            <div id="badge">
                <div class="vimeoBadge horizontal">
                    <script src="https://vimeo.com/mapolafc/badgeo/?script=1&badge_layout=horizontal&badge_quantity=8&badge_size=200&badge_stream=uploaded&show_titles=yes&badge_channel=1166834&badge_group=425480"></script>
                </div>
            </div>
        </article>
    </section>

    @section scripts{
        <script>
            $(document).ready(function () {
                $('.carousel').carousel({
                    "interval": 3000,
                    "pause": false
                });

                $('.carousel').on('slide.bs.carousel', function (e) {
                    var $animatingElems = $(e.relatedTarget);
                });
            });
        </script>
    }
    @section headerlinks{
        <meta name="description" content="Mapola FC Academy is a not-for-profit organization in Brampton ON (Canada), aiming to provide the best soccer development platform for passionate, committed and ambitious players.">
        <style>
            body {
                background: url(../images/hero@2x.jpg);
                background-size: cover;
                background-position: center;
                background-attachment: fixed;
            }

            section.container {
                background-color: rgba(255,255,255,0.97);
                border-radius: 2px;
                padding: 5px 5px 5px 5px;
                max-width: 1000px;
            }

            footer .container {
                max-width: 1000px;
            }

            .container .carousel-overlay {
                max-width: 1000px;
            }

            figure img {
                max-height: 100px;
                margin-bottom: 10px;
            }

            .vimeoBadge {
                margin: 0 auto;
                padding: 0;
                font: normal 11px verdana,sans-serif;
            }

                .vimeoBadge img {
                    border: 0;
                    border-radius: 2px;
                }

                .vimeoBadge a, .vimeoBadge a:link, .vimeoBadge a:visited, .vimeoBadge a:active {
                    text-decoration: none;
                    cursor: pointer;
                }
                /*.vimeoBadge #vimeo_badge_logo { margin-top:10px; width: 57px; height: 16px; }*/
                .vimeoBadge .credit {
                    font: normal 11px Lato, sans-serif;
                    font-weight: 600;
                }

                .vimeoBadge .clip {
                    padding: 0;
                    float: left;
                    margin: 10px 10px 10px 25px;
                    line-height: 0;
                }

                .vimeoBadge.vertical .clip {
                    float: none;
                }

                .vimeoBadge .caption {
                    font: 13px verdana,sans-serif;
                    overflow: hidden;
                    width: auto;
                    height: 50px;
                    font-weight: 600;
                }

                .vimeoBadge .clear {
                    display: block;
                    clear: both;
                    visibility: hidden;
                }

                .vimeoBadge .s160 {
                    width: 160px;
                }

                .vimeoBadge .s80 {
                    width: 80px;
                }

                .vimeoBadge .s100 {
                    width: 100px;
                }

                .vimeoBadge .s200 {
                    width: 200px;
                }
        </style>
    }
