@model IEnumerable<TeamAdmin.Core.Event>
@using System.Globalization
<div class="container">
    <h1>Manage Events</h1>
    <div class="btn-toolbar" role="toolbar"><a class="btn btn-default pull-right" asp-controller="AdminEvents" asp-action="Add">Add an Event</a></div>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th class="col-md-1 col-sm-1 col-xs-2">When</th>
                        <th class="col-md-2 col-sm-2 col-xs-2">What</th>
                        <th class="col-md-2 col-sm-2 col-xs-2">Teams</th>
                        <th class="col-md-3 col-sm-3 col-xs-3">Title / Opponent</th>
                        <th class="col-md-1 col-sm-1 col-xs-1">Start</th>
                        <th class="col-md-1 col-sm-1 col-xs-1">End</th>
                        <th class="col-md-1 col-sm-1 col-xs-1">Edit</th>
                        <th class="col-md-1 col-sm-1 col-xs-1">Result</th>
                    </tr>
                </thead>
                @foreach (var ev in Model)
                {
                    <tr>
                        <td>@ev.StartDate.ToString("ddd dd MMM")</td>
                        <td>
                            @(new CultureInfo("en-US", false).TextInfo.ToTitleCase(ev.EventType.ToString().Replace("_", " ").ToLowerInvariant()))
                            @(ev.Competition != null && !string.IsNullOrWhiteSpace(ev.Competition.Name) ? $"- {ev.Competition.Name}" : "")
                        </td>
                        <td>
                            <div>@(string.Join(", ", ev.Teams.Select(t => t.DisplayName).ToArray()))</div>
                            <div class="label label-success  pull-right">@(ev.GameResult?.Team1Score)</div>
                        </td>
                        <td>
                            <div>@((ev.EventType == TeamAdmin.Core.EventType.GAME || ev.EventType == TeamAdmin.Core.EventType.EXHIBITION_GAME) && ev.Opponent != null ? ev.Opponent.Name : ev.Title)</div>
                            <div class="label label-success  pull-left">@(ev.GameResult?.Team2Score)</div>
                        </td>
                            <td>@ev.StartDate.ToString("hh:mm tt")</td>
                            <td>@ev.EndDate.ToString("hh:mm tt")</td>
                            <td class="text-center"><a href="/admin/events/@ev.EventId"><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="edit"></i></a></td>
                            <td class="text-center">
                                @if (ev.EventType == TeamAdmin.Core.EventType.GAME)
                                {
                                    <button class="btn btn-link" onclick="updateResult(@ev.EventId, '@ev.Teams.FirstOrDefault().DisplayName', '@ev.Opponent.Name', @($"'{ev.GameResult?.Team1Score}'"), @($"'{ev.GameResult?.Team2Score}'"))"><i class="glyphicon glyphicon-plus" data-toggle="tooltip" title="update result"></i></button>
                                }
                            </td>
                    </tr>
                }
                </table>
            </div>

        <div id="ResultModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="resultForm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Update Game Result</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-4 control-label" id="team1Label"></label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="number" name="team1score" id="team1score" required value="0"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" id="team2Label"></label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="number" name="team2score" id="team2score" required value="0" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        <input type="hidden" id="eventId" name="eventId"/>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    }
    else
    {
        <p>There are no active events at this time.</p>
    }
</div>
@section scripts{
    <script src="~/js/validation.min.js"></script>
    <script src="~/js/backend.min.js"></script>
    <script>
        function updateResult(eventId, team1, team2, team1score, team2score) {
            $("#team1score").val(team1score);
            $("#team2score").val(team2score);
            $("#team1Label").text(team1);
            $("#team2Label").text(team2);
            $("#eventId").val(eventId);
            $('#ResultModal').modal('show');
        }

        $(document).ready(function () {
            $("#resultForm").submit(function (e) {
                console.log("submitting results...");
                var url = "/api/events/" + $("#eventId").val() + "/result" ;
                $.ajax({
                    type: "POST",
                    url: url,
                    data: objectifyForm($("#resultForm").serializeArray()),
                    contentType: "application/json;charset=UTF-8",
                    success: function (data) {
                        $('#ResultModal').modal('toggle');
                        location.reload();
                    },
                    error: function () {
                        alert("There was an error updating the result. Please contact administrator");
                    }
                });

                e.preventDefault();
            });
        });

        function objectifyForm(formArray) {//serialize data function
            var returnArray = {};
            for (var i = 0; i < formArray.length; i++) {
                returnArray[formArray[i]['name']] = formArray[i]['value'];
            }            
            return JSON.stringify(returnArray);
        }
    </script>
}