@model TeamAdmin.Web.Models.TeamDetailsModel
@using System.Globalization;
@using TeamAdmin.Lib.Util;
@{
    var team = Model.Team;
    var events = Model.Events;
}
<div class="container">
    <h1>@team.Name @(string.IsNullOrWhiteSpace(team.DisplayName) ? "" : "- " + team.DisplayName)</h1>

    @if (team != null && team.Media != null && team.Media.Count() > 0)
    {
        <div class="row">
            <img style="max-height:400px" src="@team.Media.FirstOrDefault().Url?w=600&mode=max" srcset="@team.Media.FirstOrDefault().Url?w=1200&mode=max 1200w, @team.Media.FirstOrDefault().Url?w=800&mode=max 800w, @team.Media.FirstOrDefault().Url?w=600&mode=max 600w, @team.Media.FirstOrDefault().Url?w=400&mode=max 400w" alt="@team.Name" class="img-responsive center-block" />
        </div>
    }

    @if (Model != null && events != null && events.Count() > 0)
    {
        <h2>Upcoming Events</h2>
            <div class="row">
                @foreach (var evnt in events)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="media">
                            <div class="media-body list-group">
                                @foreach (var ev in evnt)
                                {
                                    <div class="fixture">
                                        <div class="fixture-date">
                                            <span class="fixture-month">@ev.StartDate.ToString("MMM")</span>
                                            <span class="fixture-day">@ev.StartDate.ToString("dd")</span>
                                            <span>@ev.StartDate.ToString("ddd")</span>
                                        </div>
                                        <div class="fixture-title"><a href="/events/@ev.EventId">@ev.Title</a></div>
                                        <div>
                                            <span class="glyphicon glyphicon-time"></span><span class="fixture-time"> @ev.StartDate.ToString("h:mmtt") - @ev.EndDate.ToString("h:mmtt")</span>
                                        </div>
                                        <div class="fixture-address">@ev.Address</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
    }

    @if (Model != null && Model.Players != null && Model.Players.Count() > 0)
    {
        <h2>Players</h2>
        <div class="row">
            @foreach (var player in Model.Players)
                {
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="media">
                        <div class="media-left">
                            @if (!string.IsNullOrWhiteSpace(player.PhotoUrl))
                            {
                                <img class="media-object img-rounded" src="@player.PhotoUrl?w=80&h=80" alt="@player.FirstName">
                            }
                            else
                            {
                                <img class="media-object img-rounded" src="@($"{Settings.ImageUrlRoot}/no_image.jpeg")?w=80&h=80" alt="@player.FirstName">
                            }

                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">@player.FirstName @player.LastName.FirstOrDefault()</h4>
                            <div>@player.Position</div>
                            @if (player.SquadNumber.HasValue)
                            {
                                <div>#@player.SquadNumber</div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    <a href="/teams" class="right">Go to teams list</a>
</div>